body {
    background: #EDF8FF;
}

html {
    scroll-behavior: smooth;
}

#container {
    margin: 0 auto;
    width: 1080px;
}

@font-face {
    font-family: Montsserat;
    src: url(/style/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: Montsserat-semibold;
    src: url(/style/fonts/Montserrat/static/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: Glacial-regular;
    src: url(/style/fonts/glacial-indifference/GlacialIndifference-Regular.otf);
}

@font-face {
    font-family: Glacial-Bold;
    src: url(/style/fonts/glacial-indifference/GlacialIndifference-Bold.otf);
}



#cabecalho {
    float: left;
    background: linear-gradient(to right, #000 25%, #012840 50%);
    height: 130px;
    width: 100%;
    box-shadow: 0 10px 100px;
    font-family: Montsserat;
    margin: 0 auto;

    #logo {
        position: relative;
        top: -90px ;
        margin-left: 20px;
    }


}

nav ul {

    margin: 0;

    a {
        text-decoration: none;
        color: #EDF8FF;
    }

    li{
        display: inline;
        position: relative;
        padding: 10px;
        margin-inline: 2%;
        float: left;
        left: 45%;
        top: -240px;
        background: #101D2B;
        border-radius: 8px;
    }
   
    
    li:hover{
        box-shadow: 0 0 10px #000000;
        transition: 0.2s;
    }
}

.imagem01 {
    height: 40%;
    width: 25%;
    margin-top: 100px;
    margin-left: 100px;
    border-radius: 100px;
    box-shadow: 0 0 10px black;
    float: inline-start;
    clear: both;
    
    
    
}


#textoSobre {
    /* position: relative; */
    padding-top: 12%;
    width: 50em;
    text-align: center;
    float: inline-end;
    margin-right: 50px;
    


    h1 {
        font-size: 2.5rem;
        font-family: glacial-bold;
        color: #0A2A4B;
    }

    p {
        font-size: 2rem;
        font-family: glacial-regular;
        color: #2C3F69;
        text-shadow: 0 1px 100px #000;
    }

    button {
        padding: 10px 20px;
        background: #101D2B;
        border-radius: 8px;
        border: none;

        a {
            text-decoration: none;
            font-family: glacial-regular;
            color: #EDF8FF;
            font-size: 14pt;
        }

        a:hover .botao {
            box-shadow: 0 0 100px #000000;
        }
    }
}


#servicos {
    
    clear: both;
    padding-top: 5%;


    hr {
        width: 60%;
        border: 2px solid;
        color: #012840;
    }

    h1 {
        text-align: center;
        font-size: 40px;
        font-family: Montsserat-semibold;
        color: #0A2A4B;
    }

    h2 {
        text-align: center;
        font-family: glacial-regular;
        margin-top: -30px;
        color: #2C3F69;

    }
    
        .imageItem {
            width: 300px;
            height: 300px;
            padding: 40px;
            float: left;

        }
    
        img {
            border-radius: 20px;
            box-shadow: 0 0 10px #000;
        }

        .boxImage {
            width: 80%;
            margin-left: 165px;
        }

    .text1 {
        text-align: center;
        font-family: glacial-regular;
        top: 0px;
        color: #2C3F69;
    }
    
    .text2 {
        text-align: center;
        font-family: glacial-regular;
        top: 0px;
        color: #2C3F69;
    }

    .text3 {
        text-align: center;
        font-family: glacial-regular;
        top: 0px;
        color: #2C3F69;
    }
}

#contato {
    clear: both;
    margin-top: 30em;
    clear: both;

    hr {
        width: 60%;
        border: 2px solid;
        color: #012840;
    }

    h1 {
        text-align: center;
        font-size: 40px;
        font-family: Montsserat-semibold;
        color: #0A2A4B;
    }

    .formulario {
        background-color: #012840;
        width: 80%;
        margin: auto;
        border-radius: 10px;
        height: 500px;
        
        
        form {
            margin: 0 auto;
            width: 50%;
            padding: 40px;
            padding-top: 10%;
        }

        div {
            position: relative;
            margin-inline: 10%;
            padding-top: 20px;
        }

        input{
            height: 30px;
            width: 100%;
            border-radius: 5px;
        }

        label {
            color: white;
            font-family: glacial-bold;
            padding-top: 8px;
        }

        button {
            display: inline;
            padding: 10px 20px;
            margin-inline: 40%;
            top: 25px;
            background: #101D2B;
            border-radius: 8px;
            border: none;
            color: white;
            font-family: glacial-bold;
      
        }

        .enviar {
            left: 10px;
        }
    }
            
}


footer {
    text-align: center;
    font-family: glacial-regular;
}

dialog {
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 10px #000;
    text-align: center;

    h1 {
        color: red;
    }

    p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .ok {
        background-color: red;
        color: #fff;
        border-radius: 8px;
        border: none;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

}

/* DISPOSITIVOS MÓVEIS */

@media (max-width: 600px) {
    
    #container {
        margin: 0 auto;
        width: 600px;
    }
    
    #cabecalho {
        height: 130px;
        width: 100vw;
        float: none;
    
        #logo {
            position: relative;
            top: -90px ;
            margin-left: 75px;
        }

        div {
            height: 130px;
        }
    
    
    }
    
    nav ul {
    
        li{ 
            text-align: center;
            clear: both;
            padding: 10px;
            border-radius: 0px;
            margin-left: 0;
            width: 400px;
            position: relative;
            left: -48px;
            top: 30%;

        }
       
        
        li:hover{
            box-shadow: 0 0 10px #000000;
            transition: 0.2s;
        }
    }
    
    .imagem01 {
        height: 60%;
        width: 70%;
        margin-top: 100px;
        margin-left: 60px;
        border-radius: 50px;
        
    }
    
    
    #textoSobre {

        padding-top: 12%;
        width: 20em;
        
        h1 {
            font-size: 2rem;
            font-family: glacial-bold;
            color: #0A2A4B;
        }
    
        p {
            font-size: 1.2rem;
        }
    
    }
    
    
    #servicos .boxImage {
        width: 80%;
        margin-left: 15px;
    }
    
    #contato {
        clear: both;
        margin-top: 30em;
        hr {
            width: 60%;
            border: 2px solid;
            color: #012840;
        }
    
        h1 {
            text-align: center;
            font-size: 40px;
            font-family: Montsserat-semibold;
            color: #0A2A4B;
        }
    
        .formulario {
            background-color: #012840;
            width: 80%;
            margin: auto;
            border-radius: 10px;
            height: 500px;
            
            
            form {
                margin: 0 auto;
                width: 50%;
                padding: 40px;
                padding-top: 10%;
            }
    
            div {
                position: relative;
                margin-inline: 10%;
                padding-top: 20px;
            }
    
            input{
                height: 30px;
                width: 100%;
                border-radius: 5px;
            }
    
            label {
                color: white;
                font-family: glacial-bold;
                padding-top: 8px;
            }
    
            button {
                display: inline;
                padding: 10px 20px;
                margin-inline: 40%;
                top: 25px;
                background: #101D2B;
                border-radius: 8px;
                border: none;
                color: white;
                font-family: glacial-bold;
          
            }
    
            .enviar {
                left: 10px;
            }
        }
                
    }
    
    
    footer {
        text-align: center;
        font-family: glacial-regular;
        display: inline;
    }
    
    dialog {
        border-radius: 20px;
        border: none;
        box-shadow: 0 0 10px #000;
        text-align: center;
    
        h1 {
            color: red;
        }
    
        p {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    
        .ok {
            background-color: red;
            color: #fff;
            border-radius: 8px;
            border: none;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    
    }
}