body {
    background: #EDF8FF;
    margin: 0 0 0;
    padding: 0px;
    width: 100%;

}

@font-face {
    font-family: Montsserat;
    src: url(/style/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: Montsserat-semibold;
    src: url(/style/fonts/Montserrat/static/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: Glacial-regular;
    src: url(/style/fonts/glacial-indifference/GlacialIndifference-Regular.otf);
}

@font-face {
    font-family: Glacial-Bold;
    src: url(/style/fonts/glacial-indifference/GlacialIndifference-Bold.otf);
}



#cabecalho {
    background: linear-gradient(to right, #000 25%, #012840 50%);
    height: 120px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 0 10px 100px;
    font-family: Montsserat;
    margin: 0;
    padding: 0;
    
    

    #logo {
        position: absolute;
        top: -90px ;
        margin-left: 20px;
    }


}

nav ul a {

    text-decoration: none;
    color: #EDF8FF;

    li{
        display: inline;
        position: relative;
        padding: 10px;
        margin-inline: 2%;
        float: left;
        left: 45%;
        top: 25px;
        background: #101D2B;
        border-radius: 8px;
    }
   
    
    li:hover{
        box-shadow: 0 0 10px #000000;
    }
}

.imagem01 {
    position: relative;
    height: 40%;
    width: 25%;
    top: 188px;
    left: 103px;
    border-radius: 100px;
    box-shadow: 0 0 10px black;
    float: inline-start;
    
    
    
}


#textoSobre {
    position: absolute;
    padding: 1%;
    left: 40%;
    bottom: 10em;
    width: 50em;
    text-align: center;
    float: inline-end;
    


    h1 {
        font-size: 2.5rem;
        font-family: glacial-bold;
        color: #0A2A4B;
    }

    p {
        font-size: 2rem;
        font-family: glacial-regular;
        color: #2C3F69;
        text-shadow: 0 1px 100px #000;
    }

    button {
        display: inline;
        position: relative;
        padding: 10px 20px;
        margin-inline: 23px;
        float: left;
        left: 40%;
        top: 25px;
        background: #101D2B;
        border-radius: 8px;
        border: none;

        a {
            text-decoration: none;
            font-family: glacial-regular;
            color: #EDF8FF;
            font-size: 14pt;
        }

        a:hover .botao {
            box-shadow: 0 0 100px #000000;
        }
    }
}


#servicos {
    position: relative;
    top: 20em;
    clear: both;    
    font-family: monserrat;


    hr {
        width: 60%;
        border: 2px solid;
        color: #012840;
    }

    h1 {
        text-align: center;
        font-size: 40px;
        font-family: Montsserat-semibold;
        color: #0A2A4B;
    }

    h2 {
        position: relative;
        text-align: center;
        font-family: glacial-regular;
        top: -30px;
        color: #2C3F69;

    }
    
        .imageItem {
            position: relative;
            width: 300px;
            height: 300px;
            padding: 40px;
            float: left;
            left: 10%;
        }
    
        img {
            border-radius: 20px;
            box-shadow: 0 0 10px #000;
        }

        div .boxIamge {
            width: 80%;
            height: 2600px;
        }

    .text1 {
        position: relative;
        text-align: center;
        font-family: glacial-regular;
        top: 0px;
        color: #2C3F69;
    }
    
    .text2 {
        position: relative;
        text-align: center;
        font-family: glacial-regular;
        top: 0px;
        color: #2C3F69;
    }

    .text3 {
        position: relative;
        text-align: center;
        font-family: glacial-regular;
        top: 0px;
        color: #2C3F69;
    }
}